@use "sass:color";
// Colors of project

// Neutral-colors
$black-dark: #06090e;
$black-normal: #16191d;
$black-light: #25282d;
$black-lighten: #35383c;
$black-darken: #000;
$bg: #0c0d0d;
$surface: #121414;
$surface-2: #171a19;

$white-dark: #d9e8fa;
$white-normal: #ebf4ff;
$white-light: #ffffff;
$white-lighten: #e9ebe7;
$muted: #969c96;

// Brand-colors
// 2. Primary Brand-colors
$primary-normal: #b8f36b;
$primary-light: color.mix(#ffffff, $primary-normal, 20%);
$primary-dark: color.mix($black-dark, $primary-normal, 40%);
$primary-normal-soft: color.change($primary-normal, $alpha: 0.1);

// 3. Secondary Brand-colors
$secondary-normal: #6bf3da;
$secondary-light: color.mix(#ffffff, $secondary-normal, 20%);
$secondary-dark: color.mix($black-dark, $secondary-normal, 40%);

// Gray Scale
$gray-1: #252626;
$gray-2: #353536;
$gray-3: #4c4c4d;
$gray-4: #646465;
$gray-5: #7c7c7d;
$gray-6: #949494;
$gray-7: #9ea0a3;
$gray-8: #d9d9d9;

// Auxiliary colors
$red-normal: #f03d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #0bb07b;
$green-dark: #28bb49;
$green-light: #50e170;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;