// Colors of project

// Brand-colors
$primary-dark: #381d14;
$primary-normal: #7e624a;
$primary-light: #e2d1bf;

$secondary-dark: #2ba4a0;
$secondary-normal: #3acbc7;
$secondary-light: #73dedb;

// Neutral-colors
$black-dark: #06090e;
$black-normal: #16191d;
$black-light: #25282d;
$black-lighten: #35383c;
$black-darken: #000;

$white-dark: #d9e8fa;
$white-normal: #ebf4ff;
$white-light: #ffffff;

// Gray Scale
$gray-1: #252626;
$gray-2: #353536;
$gray-3: #4c4c4d;
$gray-4: #646465;
$gray-5: #7c7c7d;
$gray-6: #949494;
$gray-7: #9ea0a3;
$gray-8: #d9d9d9;

// Auxiliary colors
$red-normal: #f03d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #0bb07b;
$green-dark: #28bb49;
$green-light: #50e170;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;
