@use "sass/colors" as *;
@use "sass/layout" as *;
@use "sass/typography" as *;
@use "sass/animation" as *;
@use "sass/spacing" as *;
@use "sass/buttons" as *;
@use "sass/responsive" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: auto;
  max-width: 100%;
  overflow-x: clip;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: clip;
  background-color: $gray-8;
  font-family: "Montserrat", sans-serif;
  color: $primary-dark;

  &::-webkit-scrollbar {
    padding-right: 0px;
    width: 5px;
    background: transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: $black-lighten;
    border: 0px solid $white-normal;
  }
}

.border {
  border: 1px solid red;
}

.bg-red {
  background: red;
}

.border-radius {
  border-radius: 4px;
}

.hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

svg,
img {
  width: 100%;
  height: auto;
}
